
<h1>Home Page</h1>
<div id="mainPage">
  <h2>What This Application Does</h2>
  <p>
    This application is a simple demonstration of managing secure user authentication and authorization using relational databases and basic security.
  </p>
  <a href="#mySignup" role="button" class="btn" data-toggle="modal">Sign up</a> <!-- Button to trigger signup modal -->
  <a href="#myLogin" role="button" class="btn" data-toggle="modal">Log in</a> <!-- Button to trigger signup modal -->
  <div id="messages"></div>
</div>


<!-- Signup Modal -->
<div id="mySignup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mySignupLabel">Sign Up</h3>
  </div>
  <div class="modal-body">
    <div id="signup_form_div">
      <form id="formSignup" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputFirstname">First Name</label>
          <div class="controls">
            <input type="text" id="inputFirstname" name="firstname" placeholder="First name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputLastname">Last Name</label>
          <div class="controls">
            <input type="text" id="inputLastname" name="lastname" placeholder="Last name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signupEmail">Email</label>
          <div class="controls">
            <input type="text" id="signupEmail" name="email" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signupPassword">Password</label>
          <div class="controls">
            <input type="password" id="signupPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input id="buttonSignup" type="submit" class="btn btn-primary" value="Sign Up"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="signUpFooter" class="modal-footer"></div>
</div>


<!-- Login Modal -->
<div id="myLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myLoginLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myLoginLabel">Log In</h3>
  </div>
  <div class="modal-body">
    <div id="login_form_div">
      <form id="formLogin" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="loginEmail">Email</label>
          <div class="controls">
            <input type="text" id="loginEmail" name="email" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="loginPassword">Password</label>
          <div class="controls">
            <input type="password" id="loginPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input id="buttonLogin" type="submit" class="btn btn-primary" value="Log In"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="loginFooter" class="modal-footer"></div>
</div>

