<h1>Home Page</h1>
<div>
  <h2>What This Application Does</h2>
  <p>
    This application is a simple demonstration of managing secure user authentication and authorization using relational databases and basic security.
  </p>
</div>
