<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ .css"> -->
    <!-- <script type="text/javascript" src="/javascripts/ .js"></script> -->
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>